doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= projectName
    link(rel="stylesheet", href="/public/css/style.css")
  body
    header.site-header
      h1.site-title= projectName
      p.site-tagline A community book & record swap (not-for-profit)
    main.container
      block content
    footer.site-footer
      p © 2026 SwapCircle
